@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PetAI</h1>
    <p>Faça o upload de uma imagem de uma cachorro ou gato, que a inteligência artificial irá analisar e diferenciar.</p>
    <img src="assets/images/" />
</div>
