@model AIDogsAndCatsMlModel;

@{
    ViewData["Title"] = "Resultado";
}

<div class="col mx-auto text-center">
    <h2 class="display-4">Resultado do teste</h2>
    <p>Após analisar a imagem abaixo, a inteligência artificial chegou conclusão @(Model.Result).</p>
    <img src=@(Model.ImageModel) class="media_content" />
</div>
