@{
    ViewData["Title"] = "Sobre";
}
<h2 class="display-1" style="font-size: 50px">@ViewData["Title"]</h2>
<p style="margin-top: 18px">Para realização do projeto, foram utilizadas um pouco mais de 4 mil imagens de gatos, mais 4 mil imagens de cachorros e outras 2 mil imagens aleatórias para treinar a inteligência artificial, a motivação de treinar a IA com imagens aleatórias seria para que ela conseguisse detectar uma imagem que não fosse de cachorro e nem gato, deixarei os links dos dataset's utilizados no treino logo abaixo.</p>
<p style="margin-top: 5px; margin-bottom: 2px">Biblioteca de ML utilizada: ML.NET</p>
<p style="margin: 2px 0px">Dataset dos gatos e cachorros: <a target="_blank" href="https://www.kaggle.com/code/riyaelizashaju/cat-v-s-dog-using-cnn-image-dataset/notebook">Kaggle</a></p>
<p style="margin: 2px 0px">Dataset imagens aleatórias: <a target="_blank" href="https://www.kaggle.com/datasets/shamsaddin97/image-captioning-dataset-random-images">Kaggle</a></p>
<p style="margin: 2px 0px">Repositório do projeto: <a target="_blank" href="https://github.com/MarcoLGP/AIDogsAndCats">Github</a></p>