html {
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.media_content {
    height: 250px;
    width: 420px;
}

@media(max-width: 444px)
{
    .media_content {
        width: 320px
    }
}

@media(max-width: 336px)
{
    .media_content {
        width: 280px;
    }
}
